<footer class="container my-8 sm:my-10 md:my-12 lg:my-20">
  <% unless cta == 'none' %>
    <div class="p-10 lg:p-16 text-center RetroBanner">
      <div class="RetroBanner-content text-white">
        <p class="font-display font-bold text-2xl mb-5">Une question ? Un projet à discuter ?</p>
        <p class="font-body text-center text-xl text-gray-200 mb-16">
          Nous serons ravis d’en parler avec vous et de vous conseiller.
        </p>
        <%= link_to "nous contacter", contact_path,
          class: "font-mono font-bold text-white px-8 py-4 rounded-sm border-solid border-2 border-white inline-block
                 hover:border-green hover:bg-green hover:text-black
                 focus:border-green-light focus:bg-green-light transition-all transition-300 transition-ease-in-out"
        %>
      </div>
    </div>
  <% end %>

  <div class="mt-12 lg:mt-24">
    <%= link_to root_path do %>
      <%= embedded_svg 'logo-nada-noir-bleu.svg', class: 'w-auto h-8' %>
    <% end %>
    <div class="flex flex-wrap lg:-mx-16 mt-12">
      <div class="w-1/2 sm:w-1/4 lg:px-16 mb-8 lg:mb-0">
        <%= link_to 'Services', services_path, class: 'font-mono font-bold text-gray-500 hover:underline'  %>
      </div>
      <div class="w-1/2 sm:w-1/4 lg:px-16 mb-8 lg:mb-0">
        <%= link_to 'Projets', projects_path, class: 'font-mono font-bold text-gray-500 hover:underline'  %>
      </div>
      <div class="w-1/2 sm:w-1/4 lg:px-16">
        <%= link_to 'Equipe', team_path, class: 'font-mono font-bold text-gray-500 hover:underline'  %>
      </div>
      <div class="w-1/2 sm:w-1/4 lg:px-16 lg:ml-auto">
        <%= link_to 'Nous contacter', contact_path, class: 'font-mono font-bold text-blue hover:underline'  %>
      </div>
    </div>
  </div>
</footer>
