<navbar class="h-24 absolute w-full top-0 font-mono font-bold">
  <div class="flex container items-baseline justify-between my-6 lg:px-16">
    <%= link_to root_path do %>
      <% if navbar_mode == 'black' %>
        <%= embedded_svg 'logo-nada-noir.svg', class: 'w-auto h-8' %>
      <% elsif navbar_mode == 'color' %>
        <%= embedded_svg 'logo-nada-noir-bleu.svg', class: 'w-auto h-8' %>
        <% elsif navbar_mode == 'white' %>
          <%= embedded_svg 'logo-nada-blanc.svg', class: 'w-auto h-8' %>
      <% end %>
    <% end %>
    <ul class="items-baseline hidden md:flex">
      <li>
        <%= link_to "Services", services_path, class: "#{navbar_text_color(navbar_mode)} hover:underline" %>
      </li>
      <li>
        <%= link_to "Projets", projects_path, class: "ml-12 #{navbar_text_color(navbar_mode)} hover:underline" %>
      </li>
      <li>
        <%= link_to "Equipe", team_path, class: "ml-12 #{navbar_text_color(navbar_mode)} hover:underline" %>
      </li>
      <li>
        <%= link_to "nous contacter", contact_path,
          class: "ml-12 px-6 py-3 inline-block rounded-sm #{navbar_button_color(navbar_mode)}"
        %>
      </li>
    </ul>
    <button type="button"
            aria-label="Menu"
            aria-controls="navigation"
            data-action="navbar#openMenu"
            class="md:hidden items-baseline text-xl font-bold hover:underline <%= navbar_toggle_color(navbar_mode) %>">
      → menu
    </button>
  </div>
</navbar>
