<% content_for :navbar_mode, 'white' %>

<section class="min-h-screen bg-gray-900 pb-12 md:pb-20 pt-32 flex flex-col justify-center">
  <div class="container">
    <div class="flex flex-wrap lg:-mx-16 text-white">
      <div class="w-full lg:w-1/3 lg:px-16 mb-12 lg:mb-0">
        <h1 class="font-display font-bold text-3xl lg:text-4xl mb-4">Mon CDI</h1>
        <p class="font-display text-xl font-light text-gray-200 mb-8">
          Pour qu’emploi flexible ne rime pas avec précarité.
        </p>
        <p class="font-body text-gray-200 mb-4">
          Mon CDI est une alternative à l’intérim, qui repose sur le travail à temps partagé.
        </p>
        <p class="font-body text-gray-200">
          Nous avons travaillé à la création de la marque Mon CDI et au développement d’une application web
          (mobile-first) permettant de mettre en contact candidat·e·s et recruteur·se·s de Mon CDI.
        </p>
      </div>
      <div class="w-full lg:w-2/3 lg:px-16 mb-6">
        <%= image_tag('mon-cdi-hero', class: 'w-full') %>
      </div>
    </div>
    <%= link_to "En savoir plus ↓", mon_cdi_project_path(anchor: 'introduction'),
      class: "font-mono font-bold text-gray-300 absolute bottom-0 mb-8 hover:underline hidden lg:block"
    %>
  </div>
</section>

<section class="container mt-12 mb-20" id="introduction">
  <div class="flex flex-wrap lg:-mx-16">
    <div class="w-full lg:w-1/4 lg:px-16 mb-6">
      <p class="font-mono font-bold text-gray-500 mb-6">Ce que nous avons fait</p>
      <ul>
        <li class="font-body text-gray-700 mb-4">Branding</li>
        <li class="font-body text-gray-700 mb-4">Direction produit (product management)</li>
        <li class="font-body text-gray-700 mb-4">Web design (UX et UI)</li>
        <li class="font-body text-gray-700 mb-4">Tests utilisateur·rice·s</li>
        <li class="font-body text-gray-700 mb-4">Développement web (application web mobile first)</li>
      </ul>
    </div>

    <div class="w-full lg:w-3/4 lg:px-16 mb-6">
      <p class="font-display font-bold text-2xl text-black mb-2">Le problème</p>
      <p class="font-body text-gray-800 mb-8">
        Mon CDI est une nouvelle marque, lancée par Pro Service Consulting (PSC), le spécialiste du travail en temps
        partagé. PSC souhaitait en effet moderniser son image, et se doter d’une plateforme web pour gérer le
        recrutement et le parcours des candidat·e·s.
      </p>

      <p class="font-display font-bold text-2xl text-black mb-2">Notre solution</p>
      <p class="font-body text-gray-800 mb-4">
        Nous avons créé un branding simple et efficace pour Mon CDI, déclinable sur la plateforme web et des supports physiques.
      </p>
      <p class="font-body text-gray-800 mb-8">
        Nous avons développé une <strong>application web en Ruby on Rails,</strong> technologie permettant un
        développement rapide, ce qui nous a permis à Mon CDI de se confronter au plus vite à son marché.
        Nous avons également travaillé sur des <strong>outils internes,</strong> utilisés par l’équipe de Mon CDI.
      </p>

      <p class="font-display font-bold text-2xl text-black mb-2">Les résultats</p>
      <p class="font-body text-gray-800 mb-4">
        Une première version de la plateforme web de Mon CDI a été lancée en <strong>3 mois,</strong> ce qui nous a
        permis d’itérer plusieurs fois afin d’améliorer la plateforme.
      </p>
      <p class="font-body text-gray-800 mb-8">
        Plus de <strong>7 000 candidat·e·s</strong> se sont incrits en 10 mois, ce qui a permis à Mon CDI de
        signer plus de <strong>5 millions d'euros</strong> de contrat.
      </p>
    </div>
  </div>
</section>

<section class="container mt-12 mb-20">
  <div class="flex flex-wrap lg:-mx-16">
    <div class="w-full lg:w-1/4 lg:px-16 mb-6">
      <%= image_tag('branding-mon-cdi', class: 'w-64 lg:w-full mb-4 mx-auto') %>
    </div>
    <div class="w-full lg:w-3/4 lg:px-16 mb-6">
      <h2 class="font-mono text-lg text-blue font-bold mb-4">Branding</h2>
      <p class="font-display font-bold text-2xl text-black mb-5">Simplicité et efficacité</p>
      <p class="font-body text-gray-800 mb-4">
        <strong>Mon CDI est une marque qui doit inspirer confiance :</strong> les utilisateur·rice·s de Mon CDI doivent
        pouvoir se projeter dans un CDI ! La simplicité est également primordiale : cette démarche doit rester
        facile et rapide.
      </p>
      <p class="font-body text-gray-800 mb-4">
        Le logo évoque la <strong>signature d’un contrat,</strong> avec le “mon” en manuscrit.
        Les couleurs sont franches et joyeuses.
      </p>
      <p class="font-body text-gray-800 mb-4">
        <strong>Cette simplicité se retrouve également dans le ton dans la marque :</strong> éviter l’emploi de
        jargon afin que tous les utilisateur·rice·s de Mon CDI comprennent pleinenement le fonctionnement de Mon CDI,
        mais sans tomber dans la familiarité.
      </p>
      <p class="font-body text-gray-500">
        Le branding et la conception du logo ont été réalisés par le studio Nada.
        La réalisation graphique du logo a été confiée à
        <%= link_to 'Clément Petit', 'https://petitclement.net/', class: 'font-bold hover:underline' %>
      </p>
    </div>
  </div>
</section>

<section class="pt-16 text-white HorizontalGradient">
  <div class="container">
    <h2 class="font-mono text-lg font-bold mb-4 opacity-75">Design</h2>
    <p class="font-display font-bold text-2xl mb-5">Accessible et responsive</p>
    <%= image_tag('mon-cdi-design', class: 'w-full') %>
  </div>
</section>

<section class="container mb-16">
  <p class="font-body text-gray-800 mb-4">
    La plupart des utilisateur·rice·s de mon CDI parcourent le site depuis un téléphone portable.
    <strong>Le site a donc été designé en mobile-first.</strong>
  </p>
  <p class="font-body text-gray-800">
    Après des recherches et tests utilisateur·rice·s, il est apparu que les utilisateur·rice·s valorisaient avant tout
    la simplicité et la facilité d'utilisation.
    Certaines personnes n'étant pas parfaitement à l'aise en français, des interfaces
    épurées, avec des actions clairement compréhensibles, ont été mises en place.
  </p>
</section>

<section class="container mb-16">
  <h2 class="font-mono text-lg text-blue font-bold mb-4">Développement</h2>
  <p class="font-display font-bold text-2xl text-black mb-5">En mode itératif</p>
  <p class="font-body text-gray-800 mb-4">
    Mon CDI n'avait que quelques mois pour lancer une plateforme ambitieuse. Le développement s'est donc fait en
    plusieurs temps, avec des <strong>livraisons successives,</strong> afin de permettre un lancement au plus tôt.
  </p>
  <p class="font-body text-gray-800 mb-4">
    Dans une première version, le site vitrine présentant Mon CDI, ainsi que deux espaces blogs avec CMS ont été livrés
    afin de commencer à travailler la notoriété de Mon CDI.
  </p>
  <p class="font-body text-gray-800 mb-4">
    Dans un deuxième temps, nous avons livré le coeur de la plateforme Mon CDI : un espace utilisateur·rice avec login
    permettant de répondre à un questionnaire complet sur sa situation. Un algorithme métier permet ensuite de décider
    si l'utilisateur·rice peut bénéficier du CDI proposé par Mon CDI. L'utilisateur·rice est ensuite guidé vers l'obtention
    de son CDI.
  </p>
  <p class="font-body text-gray-800 mb-4">
    Enfin, un espace offres d'emploi avec un outil interne permettant aux RH de Mon CDI de suivre les candidatures
    a été mis en place.
  </p>
</section>

<section class="bg-gray-100 pt-16 pb-64 -mb-64">
  <div class="container">
    <h2 class="font-display font-bold text-2xl text-black mb-12">Technologies et outils utilisés sur ce projet</h2>

    <div class="flex flex-wrap lg:-mx-16">
      <div class="w-full lg:w-1/5 lg:px-16 mb-6">
        <%= embedded_svg 'ruby-on-rails-logo.svg', class: 'h-auto w-32' %>
      </div>
      <div class="w-full lg:w-4/5 lg:px-16 mb-10">
        <p class="font-mono text-lg text-blue font-bold mb-2">Framework web</p>
        <p class="font-body text-gray-800">
          Ruby on Rails est un framework permettant de développer rapidement des applications web, ce qui nous a permis
          une mise en ligne rapide de la première version de Mon CDI.
        </p>
      </div>

      <div class="w-full lg:w-1/5 lg:px-16 mb-6">
        <%= embedded_svg 'circle-ci-logo.svg', class: 'h-auto w-32' %>
      </div>
      <div class="w-full lg:w-4/5 lg:px-16 mb-10">
        <p class="font-mono text-lg text-blue font-bold mb-2">Intégration continue</p>
        <p class="font-body text-gray-800">
          La mise en place d’un outil d’intégration continue permet d’assurer la qualité du code en s’assurant que les
          tests automatisés sont mis en oeuvre avant chaque déployement.
        </p>
      </div>

      <div class="w-full lg:w-1/5 lg:px-16 mb-6">
        <%= embedded_svg 'prismic-logo.svg', class: 'h-auto w-32' %>
      </div>
      <div class="w-full lg:w-4/5 lg:px-16 mb-10">
        <p class="font-mono text-lg text-blue font-bold mb-2">Content Management System</p>
        <p class="font-body text-gray-800">
          Prismic est un CMS intégrable avec tout type d’application web. Il permet de donner la liberté à l’équipe de
          Mon CDI de rédiger et publier des contenus en toute autonomie.
        </p>
      </div>

      <div class="w-full lg:w-1/5 lg:px-16 mb-6">
        <%= embedded_svg 'forest-logo.svg', class: 'h-auto w-32' %>
      </div>
      <div class="w-full lg:w-4/5 lg:px-16">
        <p class="font-mono text-lg text-blue font-bold mb-2">Back-office</p>
        <p class="font-body text-gray-800">
          Forest est un outil permettant de créer rapidement un back office sur mesure.
        </p>
      </div>
    </div>
  </div>
</section>
