<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>nada.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="<%= yield(:meta_desc) %>" />
    <meta name="title" content="<%= yield(:meta_title) %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('nada-favicon.png') %>
  </head>

  <body class="bg-white" data-controller="navbar" data-action="resize@window->navbar#closeMenuOnLargeBreakpoint">
    <%= render 'shared/mobile_menu' %>
    <%= render 'shared/navbar', navbar_mode: yield(:navbar_mode) %>
    <%= yield %>
    <%= render 'shared/footer', cta: yield(:cta) %>
  </body>
</html>
